<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--12-col" *ngIf="!stocks" style="text-align:
center;">
        Loading
    </div>
    <div class="mdl-cell mdl-cell--3-col" *ngFor="let stock of stocks">
        <summary [stock]="stock"></summary>
    </div>
</div>